@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "Views/Shared/_Layout.cshtml";
}

    <a href="/sites/new">Add a link</a>

    <div>
        @foreach (var site in Model)
        {
            <a href="sites/@site.SiteId">
                <ul>
                    <li>@site.Name</li>
                    <li>@site.Url</li>
                </ul>
            </a>
        }
    </div>
