@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "Views/Shared/_Layout.cshtml";
}

    <a href="/sites/new">Add a link</a>
<form action="/sites/bulk" method="post" enctype="multipart/form-data">
    <input type="file" name="bulk-file-upload" required />
    <input type="submit" />
</form>

    <div>
        @foreach (var site in Model)
        {
            <a href="sites/@site.SiteId">
                <ul>
                    <li>@site.Name</li>
                    <li>@site.Url</li>
                </ul>
            </a>
        }
    </div>
