@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dalian</title>
</head>
<body>
    <a href="/sites/new">Add a link</a>

    <div>
        @foreach (var site in Model)
        {
            <a href="sites/@site.SiteId">
                <ul>
                    <li>@site.Name</li>
                    <li>@site.Url</li>
                </ul>
            </a>
        }
    </div>
</body>
</html>