@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dalian</title>
</head>
<body>
    Dalian

    <ul>
        @foreach (var site in Model)
        {
            <li>@site.SiteId</li>
            <li>@site.Name</li>
            <li>@site.Url</li>
        }
    </ul>
</body>
</html>